*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 18px;
    border: border-box;
}
.body{
    margin: 4vh;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 60px;
    width: 100px;
}
.logo {
    background-image: url("./TheVenue_logo.png");
    background-size: cover;
    height: 50px;
    width: 90%;
}
.border {
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/**box-2**/
.add-first {
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 15px;
} 
.add-last {
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
/**box-3**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover {
    border: 2px solid orange;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/**button**/
.nav-login {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-size: large;
    color: #0f1111;
}
.nav-login:hover {
    border: 2px solid orange;
    background-color: #febd68;
}
.nav-sign {
    height: 40px;
    width: 100px;
    color: #e2e7e6;
    border: 2px solid #e2e7e6;
    font-size: large;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-sign:hover {
    border: 2px solid orange;
}
.nav-cart i {
    font-size: 30px;
}
/**panel**/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin: 15px;
}
.panel-ops {
    width: 80%;
    font-size: 0.85rem;
}
/**hero-section**/
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar {
    width: 25%;
    border: apx solid #eee;
    border-radius: 3px;
    padding: 15px;
    height: 80vh;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.data {
    width: 73%;
    border-radius: 3px;
    overflow-y: auto;
    height: 92vh;
}
.fa-circle {
    color: orangered;
}
.searchbar {
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input {
    border: none;
    outline: none;
    background: none;
}
.glass:hover {
    color: orangered;
    cursor: pointer;
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands {
    font-size: 25px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}
.fa-brands:hover {
    color: orangered;
}
.top {
    height: 60px;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.headers {
   height: 200px;
   border-radius: 3px;
   background-color: #0f1111;
   margin: 3vh 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.headers p {
    font-size: 40px;
    font-weight: bold;
    color: white;
}
#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: flex;
}
.box{
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
}
.img-box {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: orangered;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: orangered;
}
::-webkit-scrollbar{
    display: none;
}