*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 60px;
    width: 100px;
}
.logo {
    background-image: url("./TheVenue_logo.png");
    background-size: cover;
    height: 50px;
    width: 90%;
}
.border {
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/**box-2**/
.add-first {
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 15px;
} 
.add-last {
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
/**box-3**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover {
    border: 2px solid orange;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/**button**/
.nav-login {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-size: large;
}
.nav-login:hover {
    border: 2px solid orange;
    background-color: #febd68;
}
.nav-sign {
    height: 40px;
    width: 100px;
    color: #e2e7e6;
    border: 2px solid #e2e7e6;
    font-size: large;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav-sign:hover {
    border: 2px solid orange;
}
.nav-cart i {
    font-size: 30px;
}
/**panel**/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin: 15px;
}
.panel-ops {
    width: 80%;
    font-size: 0.85rem;
}
/**hero-section**/
.hero-sec {
    background-image: url("./hero1.png");
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg {
    width: 80%;
    font-size: 40px;
    color: #052f5b;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.852);
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 250px;
}
/*shop sec*/
.shop-sec {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.box:hover {
    border: 4px solid rgb(106, 101, 101);
}
.box-img {
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.vendor {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.vendor-msg {
    width: 80%;
    font-size: 40px;
    color: #052f5b;
    text-align: center;
    background-color: #febd68;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 170px;
}
/**footer**/
.footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2 {
    background-color: #222f3d;
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin: 50px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 35px;
    color: #dddddd;
}
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url("./TheVenue_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.heroin {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.tbox {
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.style-button {
    height: 35px;
    width: 200px;
    background-color: #febd68;
    color: #0f1111;
    font-size: 20px;
    align-items: center;
    margin-left: 30px;
    border: #febd68;
    border-radius: 4px;
}
.style-button:hover {
    background-color: #ce377b;
}
.box-img2 {
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-size: cover;
}
